<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
  <title>夹总快乐页</title>
</head>

<body>

  <!--头部导航-->
  <nav th:replace="_fragments :: menu(8)">
<!--  <nav th:replace="_fragments :: menu(4)">-->

  </nav>

<!--  <div class="ui attached pointing menu">-->
<!--    <div class="ui container">-->
<!--      <div class="right menu">-->
<!--        <a href="#" th:href="@{/admin/blogs/input}" class=" item">发布</a>-->
<!--        <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">

      <div  class="ui secondary segment form">
        <!--查询表单需要是form提交数据-->
<!--        <form th:action="@{/admin/blogs/search}" method="post" class="ui segment form">-->

          <!--fields代表一个区域,inline缩短区域的效果-->
<!--        <div class="inline fields">-->
<!--          <div class="field">-->
<!--            <input type="text" name="title" placeholder="标题">-->
<!--          </div>-->
<!--          <div class="field">-->
<!--            &lt;!&ndash;dropdown是下拉框效果&ndash;&gt;-->
<!--            <div class="ui labeled action input">-->
<!--              <div class="ui type selection dropdown">-->
<!--                <input type="hidden" name="typeId">-->
<!--                <i class="dropdown icon"></i>-->
<!--                <div class="default text">分类</div>-->
<!--                &lt;!&ndash;menu是菜单&ndash;&gt;-->
<!--                <div class="menu">-->
<!--                  <div  th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}" class="item" data-value="1"  >错误日志</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <button id="clear-btn" class="ui compact button">clear</button>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="field">-->
<!--            <div class="ui checkbox">-->
<!--              <input type="checkbox" id="recommend" name="recommend">-->
<!--              <label for="recommend">推荐</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="field">-->
<!--            <button  type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        </form>-->

      <div id="table-container">
        <table th:fragment="tweetList" class="ui compact teal table">
          <thead>
          <tr>
            <th></th>
            <th>头像</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user, iterStat : ${pageInfo.list}">
            <td th:text="${iterStat.count}">1</td>
            <td>
              <img src="#" th:src="@{${user.avatar}}" alt="" class="ui avatar image">
            </td>
            <td>
              <div class="content">
                <a href="#" th:href="@{/user/{id}(id=${user.id})}" style="color:black;" class="header" th:text="${user.username}">林钲皓</a>
              </div>
            </td>
            <td>
              <a style="color:black;" th:text="${user.nickname}" href="#" th:href="@{/user/{id}(id=${user.id})}">this is a title</a>
            </td>
<!--            <td th:text="${tweet.type.name}">认知升级</td>-->
<!--            <td th:text="${tweet.commentable} ? '可评论':'不可评论'">是</td>-->
<!--            <td th:text="${tweet.published} ? '所有人可见':'仅自己可见'">发布</td>-->
            <td th:text="${user.phoneNumber}">this is a content</td>
            <td th:text="${user.email}">this is a content</td>
<!--            状态-->
            <td th:if="${user.status==1}">正常用户</td>
            <td th:if="${user.status==2001}">被夹用户</td>
            <td th:if="${user.status==2002}">封禁用户</td>
            <td th:if="${user.status==1000}">管理员</td>
<!--            创建时间-->
            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2020-3-02</td>
            <td>
              <a href="#" th:if="${user.status==1}" th:href="@{/admin/ban/{id}(id=${user.id})}" class="ui mini red basic button">封禁</a>
              <a href="#" th:if="${user.status==2002}" th:href="@{/admin/ban/{id}(id=${user.id})}" class="ui mini teal basic button">取消封禁</a>
              <a href="#" th:if="${user.status==1}" th:href="@{/admin/censor/{id}(id=${user.id})}" class="ui mini red basic button">夹！</a>
              <a href="#" th:if="${user.status==2001}" th:href="@{/admin/censor/{id}(id=${user.id})}" class="ui mini teal basic button">取消夹</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="10">
              <div class="ui mini pagination menu"  >
                <div class="item"><a th:href="@{/admin/usermanage}">首页</a></div>
                <div class="item"><a th:href="@{/admin/usermanage(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                <div class="item"><a th:href="@{/admin/usermanage(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                <div class="item"><a th:href="@{/admin/usermanage(pagenum=${pageInfo.pages})}">尾页</a></div>
              </div>
<!--              <a href="#"  th:href="@{/tweet/send}" class="ui mini right floated teal basic button">新增</a>-->
            </th>
          </tr>
          </tfoot>
        </table>

        <div class="ui segment m-inline-block">
          <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
        </div>

        <div class="ui success message" >
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${msg}">恭喜，操作成功！</p>
        </div>

      </div>

    </div>
  </div>
  </div>

  <br>
  <br>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer">

  </footer>

  <th:block th:replace="_fragments :: script">

  </th:block>

  <script>

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });

  </script>

</body>
</html>
