<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
  <title>个人中心</title>
</head>

<body>

  <!--头部导航-->
  <nav th:replace="_fragments :: menu(4)">
  </nav>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">

      <div  class="ui secondary segment form">

      <div id="table-container">
        <table th:fragment="tweetList" class="ui compact teal table">
          <thead>
          <tr>
            <th></th>
            <th>标题</th>
            <th>内容</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="tweet, iterStat : ${pageInfo.list}">
            <td th:text="${iterStat.count}">1</td>

            <td>
              <a style="color:black;" th:text="${tweet.title}" href="#" th:href="@{/tweet/{id}(id=${tweet.id})}">this is a title</a>
            </td>
            <td th:text="${tweet.content}">this is a content</td>
            <td th:text="${#dates.format(tweet.updateTime,'yyyy-MM-dd')}">2020-3-02</td>
            <td>
              <a href="#" th:href="@{/usercenter/deleteCollection/{id}(id=${tweet.id})}" class="ui mini teal basic button">取消收藏</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="7">
              <div class="ui mini pagination menu"  >
                <div class="item"><a th:href="@{/usercenter/tweets}">首页</a></div>
                <div class="item"><a th:href="@{/usercenter/tweets(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                <div class="item"><a th:href="@{/usercenter/tweets(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                <div class="item"><a th:href="@{/usercenter/tweets(pagenum=${pageInfo.pages})}">尾页</a></div>
              </div>
            </th>
          </tr>
          </tfoot>
        </table>

        <div class="ui segment m-inline-block">
          <p >当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span th:text="${pageInfo.total}"></span>条记录</p>
        </div>

        <div class="ui success message" >
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${msg}">恭喜，操作成功！</p>
        </div>

      </div>

    </div>
  </div>
  </div>

  <br>
  <br>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer">

  </footer>

  <th:block th:replace="_fragments :: script">

  </th:block>

  <script>

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
      .on('click', function () {
        $(this)
          .closest('.message')
          .transition('fade');
      });

  </script>

</body>
</html>
