<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>个人中心</title>
</head>

<body>
<!--头部导航-->
<nav  th:replace="_fragments :: menu(7)" ></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui vertical pointing menu">
                    <a class="item" href="#" th:href="@{/user/center}"><i class=" home icon"></i>个人资料</a>
                    <a class="item" href="#" th:href="@{/user/collections}" ><i class="star icon"></i>我的收藏</a>
                    <a class="item active" href="#" th:href="@{/user/changepasswd}"><i class="lock icon"></i>更改密码</a>
                    <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/usermanage}"><i class="lock icon"></i>用户管理</a>
                    <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/tags}"><i class="lock icon"></i>话题管理</a>
                    <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/tags}"><i class="lock icon"></i>敏感词审查</a>
                </div>
            </div>

            <div class="ten wide column">
                <div class="ui segment">
                    <div >
                        <div>
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
                            <span th:text="${session.user.nickname}" class="ui header">nickname</span>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="ui negative form segment">
                            <div th:if="${msg_n!=null}" class="ui negative message">
                                <div th:text="${msg_n}" class="header">Could you check something!</div>
<!--                                <ul class="list">-->
<!--                                    <li>You forgot your <b>first name</b></li>-->
<!--                                    <li>And also your <b>last name</b></li>-->
<!--                                </ul>-->
                            </div>
                            <div th:if="${msg!=null}" class="ui positive message">
                                <div th:text="${msg}" class="header">Could you check something!</div>
<!--                                <ul class="list">-->
<!--                                    <li>You forgot your <b>first name</b></li>-->
<!--                                    <li>And also your <b>last name</b></li>-->
<!--                                </ul>-->
                            </div>
                            <form id="change-form" name="change-form" method="post" action="#" th:action="@{/user/changepswd}">
                                <div class="field">
                                    <label>请输入原密码</label>
                                    <input name="legacy_password" id="legacy_password" type="password">
                                </div>
                                <div class="field">
                                    <label>请输入新密码</label>
                                    <input name="new_password" id="new_password" type="password">
                                </div>
                                <div class="field">
                                    <label>请再次输入新密码</label>
                                    <input name="repeat" id="repeat" type="password">
                                </div>
                                <div class="field" style="text-align: center;">
                                    <button class="ui submit button" id="save-btn">更改密码</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--导入的script-->
<th:block th:replace="_fragments :: script"></th:block>


</body>
</html>
