<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>个人中心</title>
</head>

<body>
<!--头部导航-->
<nav  th:replace="_fragments :: menu(7)" ></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui segment">
                    <ul>
                        <li class="router-link-exact-active router-link-active">
                            <a href="#" th:href="@{/user/center}" class="m-item item blue m-mobile-hide"><i class="user icon"></i>个人资料</a>
                        </li>
                        <li >
                            <a href="#" th:href="@{/usercollections}" class="m-item orange item m-mobile-hide"><i class="star icon"></i>我的收藏</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/userchangepassword}" class="m-item orange item m-mobile-hide"><i class="lock icon"></i>更改密码</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ten wide column">
                <div class="ui segment">
                    <div >
                        <div >
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
                            <span th:text="${session.user.nickname}" class="ui header">nickname</span>
                        </div>
                    </div>
                    <br>
                    <div >

                        <div class="ui attached segment">
                            <form id="change-form" name="change-form" method="post" th:object="${user}" action="#" th:action="@{/changepassword}">
                                <div >
                                    <div class="ui header">请输入原密码：</div>
                                    <div class="ui left labeled input">
                                        <label class="ui teal basic label">原密码</label>
                                        <input type="text" name="password1" id="password1" th:value="*{password}">
                                    </div>
                                    <br>
                                    <br>
                                    <div class="ui header">请输入新密码：</div>
                                    <div class="ui left labeled input">
                                        <label class="ui teal basic label">新密码</label>
                                        <input type="text" name="password2" id="password2" th:value="*{password}">
                                    </div>
                                    <br>
                                    <br>
                                    <div class="ui header">请再次输入新密码：</div>
                                    <div class="ui left labeled input">
                                        <label class="ui teal basic label">确认密码</label>
                                        <input type="text" name="password3" id="password3" th:value="*{password}">
                                    </div>
                                    <br>
                                    <br>


                                </div>

                                <div class="ui right aligned container">
                                    <button type="button" id="save-btn" class="ui teal button">保存更改</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var changeform=document.getElementById("change-form");
    var password2=document.getElementById("password2");
    var password3=document.getElementById("password3");
    lgform.onsubmit=function(){
        if(password2.value=="" || password2.value==null){
            alert("新密码不能为空,请输入");
            return false;
        }else if(password3.value=="" || password3.value==null){
            alert("确认密码不能为空,请输入");
            return false;
        }else if(password2.value!=password3.value){
            alert("两次密码不一样,请重新输入");
            password2.value="";
            password3.value="";
            return false;
        }else{
            return true;
        }
    }
</script>


</body>
</html>
