<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="_fragments :: head(~{::title})">
    <title>博客详情</title>
</head>

<body>

<!--头部导航-->
<nav th:replace="_fragments :: menu(0)" ></nav>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--头部-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="../static/images/bg1.jpeg" th:src="@{${tweetfe.user.avatar}}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header" th:text="${tweetfe.user.nickname}">林钲皓</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i> <span th:text="${#dates.format(tweetfe.tweet.updateTime,'yyyy-MM-dd')}">2022-05-01</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i> <span th:text="${tweetfe.tweet.views}">2342</span>
                </div>
                <div class="item">
                    <i class="like icon"></i> <span th:text="${tweetfe.tweet.likes}">2342</span>
                </div>
            </div>
        </div>

<!--        <div class="ui attached segment">-->
<!--            &lt;!&ndash;图片区域&ndash;&gt;-->
<!--            &lt;!&ndash;1张图&ndash;&gt;-->
<!--            <img th:if="${tweetfe.imgNum<2}" src="../static/images/bg1.jpeg" th:src="@{${tweetfe.tweet.firstPicture}}" alt="" class="ui fluid rounded image">-->
<!--            &lt;!&ndash;            2站图&ndash;&gt;-->
<!--            <div th:if="${tweetfe.imgNum==2}" class="ui two column grid">-->
<!--                <div class="ui small images" th:each="img : ${tweetfe.imgUnits}">-->
<!--                    <img src="../static/images/bg1.jpeg" th:src="@{${img}}" alt="" class="ui fluid rounded image">-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;            3站图&ndash;&gt;-->
<!--            <div th:if="${tweetfe.imgNum==3}"  class="ui small rounded images">-->
<!--                <img  th:each="img : ${tweetfe.imgUnits}" src="../static/images/bg1.jpeg" th:src="@{${img}}" alt="" class="ui rounded image">-->
<!--            </div>-->

<!--        </div>-->
        <div th:if="${tweetfe.tweet.firstPicture!=null}" class="ui attached segment">
            <!--视频区域-->
            <video style="text-align: center" align="center"width="800" height="550" controls>
                <source th:src="${tweetfe.tweet.firstPicture}" type="video/mp4">
                您的浏览器不支持 HTML5 video 标签。
            </video>
        </div>


        <div class="ui attached segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${tweetfe.tweet.status}">权限</div>
            </div>

            <h2 class="ui center aligned header" th:text="${tweetfe.tweet.title}">关于刻意练习的清单</h2>
            <br>

            <!--中间主要内容部分-->
<!--            <div class="ui attached padded segment">-->
<!--            <div id="content" class="content" th:text="${tweetfe.tweet.content}"></div>-->
<!--            </div>-->
            <div id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large" th:text="${tweetfe.tweet.content}"></div>


            <!--标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal left pointing label" th:each="tag : ${tweetfe.tags}" th:text="${tag.name}">方法论</div>
            </div>
            <!--图片-->
            <div th:if="${tweetfe.imgNum!=0}"  class="ui big rounded images" style="text-align:center;" >
                <img  th:each="img : ${tweetfe.imgUnits}" src="../static/images/bg1.jpeg" th:src="@{${img}}" alt="" class="ui rounded image">
            </div>


        </div>
            <!--点赞和收藏-->
            <div class="ui attached padded segment">
            <div class="two ui buttons">

                <button id="like-btn" class="ui button">
                    <a herf="#" th:href="@{/tweet/likes/{id}(id=${tweetfe.tweet.id})}">
                        <i th:style="${isLike?'color:red':'color:black'}" style="color:black;" class="like icon"></i><span style="color:black;" th:text="${tweetfe.tweet.likes}">2342</span>
                    </a>
                </button>


                <button id="collection-btn" class="ui button">
                    <a herf="#" th:href="@{/tweet/collections/{id}(id=${tweetfe.tweet.id})}">
                        <i th:style="${isCollection?'color:red':'color:black'}"style="color:black;" class="save icon"></i><span style="color:black;" th:text="${isCollection?'已收藏':'收藏'}">收藏</span>
                    </a>
                </button>
            </div>
            </div>



        <div  class="ui bottom attached segment" th:if="${tweetfe.tweet.commentable}">
            <!--留言区域列表-->
            <div id="comment-container"  class="ui teal segment">
<!--                设置区域片段-->
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="commentfe : ${comments}">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${commentfe.user.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author" >
                                    <span th:text="${commentfe.user.nickname}">Matt</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${commentfe.user.status==100}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(commentfe.comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${commentfe.comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${commentfe.comment.id},data-commentnickname=${commentfe.user.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>

                            <!--回复功能-->
                            <div class="comments" th:if="${#arrays.length(commentfe.replyComments)}>0">
                                <div class="comment" th:each="reply : ${commentfe.replyComments}">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/100/100?image=1005" th:src="@{${reply.user.avatar}}">
                                    </a>
                                    <div class="content">
                                        <span class="author" >
<!--                                            回复的用户-->
                                            <span th:text="${reply.user.nickname}">小红</span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.user.status==100}">博主</div>
                                            &nbsp;<span>回复了</span></span><span th:text="| @ ${reply.replyUsername}|" class="m-teal">@ 小白</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.comment.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.comment.id},data-commentnickname=${reply.user.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <!--提交留言表单-->
           
            <div id="comment-form" class="ui form" th:if="${session.user!=null}">
                <input type="hidden" name="tweetId" th:value="${tweetfe.tweet.id}">
                <input type="hidden" name="parentCommentId" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field  m-margin-bottom-small m-mobile-wide">
                        <button type="button" id="commentpost-btn" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

<!--右下角浮动的图标-->
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc pink button" >目录</button>
        <a href="#comment-container" class="ui pink button" >留言</a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
</div>

<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">

    </ol>
</div>

<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--导入的script-->
<th:block th:replace="_fragments :: script">

</th:block>


<script th:inline="javascript">


    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${tweetfe.tweet.id})}]]*/"comments/6");
    });


    //校验
    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }

    });

    //     function postData() {
    //         $("#comment-container").load(/*[[@{/comments}]]*/"",{
    //             "parentComment.id" : $("[name='parentComment.id']").val(),
    //             "blog.id" : $("[name='blog.id']").val(),
    //             "nickname": $("[name='nickname']").val(),
    //             "email"   : $("[name='email']").val(),
    //             "content" : $("[name='content']").val()
    //         },function (responseTxt, statusTxt, xhr) {
    // //        $(window).scrollTo($('#comment-container'),500);
    //             clearContent();
    //         });
    //     }
    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentCommentId" : $("[name='parentCommentId']").val(),
            "tweetId" : $("[name='tweetId']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentCommentId']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }


    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentCommentId']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }



    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'bottom center'
    });

    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });

    $('.toc.button').popup({
        popup : $('.toc-container.popup'),
        on : 'click',
        position: 'left center'
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'left center'
    });

    var serurl = /*[[#{blog.serurl}]]*/"127.0.0.1:8080";
    var url = /*[[@{/tweet/{id}(id=${tweetfe.tweet.id})}]]*/"";
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0,500);
    });


    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    })



</script>
</body>
</html>
