<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>个人中心</title>
</head>

<body>
<!--头部导航-->
<nav  th:replace="_fragments :: menu(7)" ></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical pointing menu">
                <a class="item active" href="#" th:href="@{/user/center}"><i class=" home icon"></i>个人资料</a>
                <a class="item" href="#" th:href="@{/user/collections}" ><i class="star icon"></i>我的收藏</a>
                <a class="item" href="#" th:href="@{/user/changepasswd}"><i class="lock icon"></i>更改密码</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/usermanage}"><i class="users icon"></i>用户管理</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/tags}"><i class="tag icon"></i>话题管理</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/censorships}"><i class="hide icon"></i>敏感词审查</a>
            </div>
        </div>

        <div class="ten wide column">
            <div class="ui segment">
                <div class="sixteen wide column"  style="text-align: center;">
                    <div class="ui small circular image" style="text-align:center;">
                        <img src="" th:src="@{${session.user.avatar}}">
                    </div>
                    <h2 th:text="${session.user.nickname}" class="ui header">nickname</h2>
                </div>
                <br>
                <div class="ui mini positive message" style="text-align: center; " th:if="${msg!=null}" th:text="${msg}">修改成功</div>
                <br>
                <form class="ui form" enctype="multipart/form-data" method="post" th:object="${user}" action="#" th:action="@{/user/saveprofile}">
                <h2 class="ui dividing header">基本信息</h2>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>用户名</label>
                                <input type="text" readonly="" name="username"  placeholder="#" th:placeholder="${user.username}" th:value="*{username}">
                            </div>
                            <div class="field">
                                <label>昵称</label>
                                <input type="text" name="nickname"  placeholder="#" th:placeholder="${user.nickname}" th:value="*{nickname}">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>邮箱</label>
                                <input type="text" name="email"  placeholder="#" th:placeholder="${user.email}" th:value="*{email}">
                            </div>
                            <div class="field">
                                <label>手机号码</label>
                                <input type="text" name="phoneNumber" placeholder="手机号" th:placeholder="${user.phoneNumber}" th:value="*{phoneNumber}">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>头像</label>
                            <input type="file" name="img" placeholder="点击上传图片"/>
                    </div>
                    <div class="five fields">
                        <div class="field"></div>
                        <div class="field"></div>
                        <div class="field">
                            <button class="ui submit button" id="save-btn">保存更改</button>
                        </div>
                        <div class="field"></div>
                        <div class="field"></div>
                    </div>
                    <!--提示用户名不为空-->
                    <div class="ui error mini message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
<!--导入的script-->
<th:block th:replace="_fragments :: script"></th:block>
<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'nickname',
                rules: [{
                    type : 'empty',
                    prompt: '请输入昵称'
                }]
            }
        }
    });
</script>


</body>
</html>
