<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments :: head(~{::title})">
    <title>个人中心</title>
</head>

<body>
<!--头部导航-->
<nav  th:replace="_fragments :: menu(7)" ></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui grid">

        <div class="four wide column">
            <div class="ui vertical pointing menu">
                <a class="item" href="#" th:href="@{/user/center}"><i class=" home icon"></i>个人资料</a>
                <a class="item active" href="#" th:href="@{/user/collections}" ><i class="star icon"></i>我的收藏</a>
                <a class="item" href="#" th:href="@{/user/changepasswd}"><i class="lock icon"></i>更改密码</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/usermanage}"><i class="users icon"></i>用户管理</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/tags}"><i class="tag icon"></i>话题管理</a>
                <a class="item" href="#" th:if="${session.user.status==1000}" th:href="@{/admin/censorships}"><i class="hide icon"></i>敏感词审查</a>
            </div>
        </div>

        <!--收藏博客列表-->
        <div class="eleven wide column">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui blue header">微博</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}"> 14 </h2> 篇
                    </div>
                </div>
            </div>

            <!--content-->
            <div class="ui attached segment">

                <div class="ui padded vertical segment m-padded-tb-large" th:each="tweetfe : ${pageInfo.list}">
                    <div class="ui middle aligned mobile reversed stackable grid">
                        <div class="sixteen wide column">
                            <h3 class="ui header" ><a href="#" th:href="@{/tweet/{id}(id=${tweetfe.tweet.id})}" target="_blank" class="m-black" th:text="${tweetfe.tweet.title}">你真的理解什么是财富自由吗?</a></h3>
                            <a herf="#" th:href="@{/tweet/{id}(id=${tweetfe.tweet.id})}" class="m-black" th:text="|${tweetfe.tweet.content}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</a>
                            <h5><br/> </h5>
                            <div class="sixteen wide column">
                                <a href="#" th:href="@{/tweet/{id}(id=${tweetfe.tweet.id})}" target="_blank">
                                    <div class="ui small images" th:if="${tweetfe.imgNum!=0}" style="text-align:center;">
                                        <img src="" th:each="img : ${tweetfe.imgUnits}" th:src="@{${img}}">
                                    </div>
                                </a>
                            </div>
                            <h5><br/> </h5>
                            <div class="ui grid">
                                <div class="sixteen wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005" th:src="@{${tweetfe.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${tweetfe.user.nickname}" >林钲皓</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(tweetfe.tweet.updateTime, 'yyyy-MM-dd')}">2022-05-02</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${tweetfe.tweet.views}">2342</span>
                                        </div>
                                        <div class="item">
                                            <i class="like icon"></i><span th:text="${tweetfe.tweet.likes}">2342</span>
                                        </div>
                                        <div class="item" style="text-align: right; ">
                                            <a href="#" th:href="@{/user/collections/delete/{id}(id=${tweetfe.tweet.id})}" class="ui mini teal basic button">取消收藏</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                        </tag>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--底部footer-->
<!--<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>-->
<!--导入的script-->
<th:block th:replace="_fragments :: script"></th:block>

</body>
</html>
